<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>UGS GeoData Archive System</string>
		<key>url</key>
		<string>https://geodata.geology.utah.edu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Utah Geologic Hazards Clearinghouse</string>
		<key>url</key>
		<string>https://ussc.utah.gov</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Add new</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
